<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Room of Requirement (under construction)</title>
   <link rel="stylesheet" href="css/index-style.css">
</head>
<body>
  <h1>you have successfully connected to the room of requirement</h1>
  <p>if you are reading this, then you are probably Rriddhee. as i probably told you earlier, this site is still heavily under construction. login with the username and password i gave you, and i'll talk further</p>
  <button onclick=GoToLogin()>Log in</button>
  <footer>
    <p>Room of Requirement is a hobby project being hosted, maintained and developed by Fahim Ahmed Arnob</p>
  </footer>
  <script src="js/index-script.js"></script>
</body>
</html>
